<header>
    <div class="wrapper">
        <h1 class="title"><a href="/">Search API LoL</a></h1>
        <form action="/summoner" method="POST">
            <label for="q">
                    <input class="search" type="search" id="q" name="q" placeholder="Summoner Name">
                    <button class="submit" type="submit">Procurar</button>
                </form>                
            </div>
        </header>
