<% include partials/head.ejs %>
<% include partials/navbar.ejs %>

<main class="wrapper">
    <div class="not-found">
        Error 404, não encontrado!
    </div>
</main>


<% include partials/footer.ejs %>