<% include partials/head.ejs %>


    <div class="content">
        <div class="wrapper">
            <h1><a href="/">Search API LoL</a></h1>
            <form action="/summoner" method="POST">
                <label for="q">
            <input type="search" id="q" name="q" placeholder="Summoner Name">
            <input class="submit" type="submit">
        </form> 
    </div>
</div>


<% include partials/footer.ejs %>